@model mvcIpsa.DbModel.IngresosEgresosCaja

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>IngresosEgresosCaja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numrecibo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numrecibo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaProceso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaProceso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Montoefectivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Montoefectivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Montocheque)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Montocheque)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Montominuta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Montominuta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Montotransferencia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Montotransferencia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Noreferencia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Noreferencia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cuentabanco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cuentabanco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Concepto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Concepto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Noordenpago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Noordenpago)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fechacreacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fechacreacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ncentrocosto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ncentrocosto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Identificacioncliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Identificacioncliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cuentacontablebanco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cuentacontablebanco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tipocambio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipocambio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdtipoingresoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdtipoingresoNavigation.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdtipomonedaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdtipomonedaNavigation.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdtipopagoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdtipopagoNavigation.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NestadoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NestadoNavigation.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipomovNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipomovNavigation.Descripcion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
